<div class="panel-group" id="facet-accordion" role="tablist" aria-multiselectable="true">
    <% _.each(facets, function (cluster, ind) { %>
        <div class="panel panel-default facet-panel">
        <div class="panel-heading" role="tab" id="heading-<%- ind %>">
          <h4 class="panel-title">
            <a class="accordion-toggle" role="button" data-toggle="collapse" href="#collapse-<%- ind %>" aria-expanded="true" aria-controls="collapse-<%- ind %>">
              <%- ind %>
            </a>
          </h4>
        </div>
        <div id="collapse-<%- ind %>" data-facet-prefix="<%- ind %>" class="panel-collapse collapse in facet-items" role="tabpanel" aria-labelledby="heading-<%- ind %>">
          <div class="panel-body">
              <% if (ind === 'learning_objective') { %>
                <div class="form-group">
                    <select class="form-control learning-objective-selector" multiple aria-multiselectable="true">
                        <% _.each(cluster, function (item) { %>
                            <% if (selectedFacets.indexOf(item[2]) >= 0) { %>
                                <option selected value="<%- item[2] %>">
                            <% } else { %>
                                <option value="<%- item[2] %>">
                            <% } %>
                              <%- item[0] %>
                              (<%- item[1] %>)
                              </option>
                        <% }); %>
                    </select>
                </div>
              <% } else { %>
                  <% _.each(cluster, function (item) { %>
                    <div class="checkbox">
                      <label>
                        <% if (selectedFacets.indexOf(item[2]) >= 0) { %>
                            <input type="checkbox" class="facet-checkbox" checked value="<%- item[2] %>">
                        <% } else { %>
                            <input type="checkbox" class="facet-checkbox" value="<%- item[2] %>">
                        <% } %>
                          <%- item[0] %>
                          <span class="badge pull-right">
                              <%- item[1] %>
                          </span>
                      </label>
                    </div>
                  <% }); %>
              <% } %>
          </div>
        </div>
      </div>
    <% }); %>
    <div class="items-per-page-wrapper text-center">
        <select id="items-per-page" class="form-control">
            <% if (selectedItemsPerPage === 10) { %>
                <option value="10" selected>10</option>
            <% } else { %>
                <option value="10">10</option>
            <% } %>
            <% if (selectedItemsPerPage === 25) { %>
                <option value="25" selected>25</option>
            <% } else { %>
                <option value="25">25</option>
            <% } %>
            <% if (selectedItemsPerPage === 50) { %>
                <option value="50" selected>50</option>
            <% } else { %>
                <option value="50">50</option>
            <% } %>
        </select>
        <label class="items-label" id="items-label" for="items-per-page">
            Items per page
        </label>
    </div>
</div>
