<div class="container">
    <div clas="row">
        <div class="statusBox"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 item-filter-wrapper items-for-assignments-wrapper">
            <section class="item-filter-scrollable">
                <h4>Filters (AND)</h4>
                <ul class="item-filters list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Branches</h4>
                        <div class="branches-filter filter form-group">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Assignment Type</h4>
                        <div class="pset-filter filter form-group">
                            <!-- Want NONE to always be a default option -->

                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Difficulties</h4>
                        <div class="difficulty-filter filter form-group">

                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Types</h4>
                        <div class="types-filter filter form-group">

                        </div>
                    </li>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Year Range</h4>
                        <div class="year-range-filter filter form-group">
                            <input type="checkbox" checked class="inclusive-years hidden"/>
                            <div class="year-selected-text"></div>
                            <input type="text" readonly class="year-slider hidden"/>
                            <div class="hidden year-slider-control"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">SN / Keywords</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyword-search" placeholder="Search"/>
                            <i class="fa fa-search keyword-search-icon" aria-hidden="true"></i>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 item-list-wrapper">
            <div class="item-list row">
                <table class="table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Keywords</th>
                            <th>Type</th>
                            <th>Diff.</th>
                            <th>Terms</th>
                            <th>PSet</th>
                            <th>Prev.</th>
                            <th>Sol Prev.</th>
                            <!--<th>Meta.</th>-->
                            <th><span class="sr-only">Selected</span></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>