<div>
    <span class="modalStatusBox statusBox red"></span>
</div>

<label for="courseNumber" class="input-group row subject-input-row">
    <p class="col-lg-3 col-md-3 col-sm-4 col-xs-4">MIT Course: </p>
    <select class="col-lg-9 col-md-9 col-sm-8 col-xs-8" name="courseNumber" id="addSubjectCourseSelector">
        <option value="0"></option>
        <option value="1">1 -- Civil and Environmental Engineering</option>
        <option value="2">2 -- Mechanical Engineering</option>
        <option value="3">3 -- Materials Science and Engineering</option>
        <option value="4">4 -- Architecture</option>
        <option value="5">5 -- Chemistry</option>
        <option value="6">6 -- Electrical Engineering and Computer Science</option>
        <option value="7">7 -- Biology</option>
        <option value="8">8 -- Physics</option>
        <option value="9">9 -- Brain and Cognitive Sciences</option>
        <option value="10">10 -- Chemical Engineering</option>
        <option value="11">11 -- Urban Studies and Planning</option>
        <option value="12">12 -- Earth, Atmospheric, and Planetary Sciences</option>
        <option value="14">14 -- Economics</option>
        <option value="15">15 -- Management</option>
        <option value="16">16 -- Aeronautics and Astronautics</option>
        <option value="17">17 -- Political Science</option>
        <option value="18">18 -- Mathematics</option>
        <option value="20">20 -- Biological Engineering</option>
        <option value="21">21 -- Humanities</option>
        <option value="21A">21A -- Anthropology</option>
        <option value="21F">21F -- Global Studies and Languages</option>
        <option value="21H">21H -- History</option>
        <option value="21L">21L -- Literature</option>
        <option value="21M">21M -- Music and Theater Arts</option>
        <option value="21W">21W -- Writing</option>
        <option value="22">22 -- Nuclear Science and Engineering</option>
        <option value="24">24 -- Linguistics and Philosophy</option>
        <option value="CMS">CMS -- Comparative Media Studies</option>
        <option value="CSB">CSB -- Computational and Systems Biology</option>
        <option value="ESD">ESD -- Engineering Systems</option>
        <option value="HST">HST -- Health Sciences and Technology</option>
        <option value="MAS">MAS -- Media Arts and Sciences</option>
        <option value="STS">STS -- Science, Technology, and Society</option>
        <option value="CC">CC -- Concourse Program</option>
        <option value="EC">EC -- Edgerton Center</option>
        <option value="ES">ES -- Experimental Study Group</option>
        <option value="ROTC">ROTC -- Aerospace Studies | Military Science | Naval Science</option>
        <option value="SP">SP -- Special Programs</option>
        <option value="SWE">SWE -- Engineering School-Wide Electives</option>
        <option value="WGS">WGS -- Women's and Gender Studies</option>
    </select>
</label>

<label for="subjectNumber" class="input-group row subject-input-row">
    <p class="col-lg-3 col-md-3 col-sm-4 col-xs-4"> Subject number: </p>
    <input type="text" class="col-lg-9 col-md-9 col-sm-8 col-xs-8 input-block-level" name="subjectNumber" aria-label="Subject Number" placeholder="Number of the subject, e.g. 002"/>
</label>

<label for="subjectName" class="input-group row subject-input-row">
    <p class="col-lg-3 col-md-3 col-sm-4 col-xs-4">Subject name: </p>
    <input type="text" class="col-lg-9 col-md-9 col-sm-8 col-xs-8 input-block-level" name="subjectName" aria-label="Subject Name" placeholder="Name of the subject, e.g. Mechanics and Materials II"/>
</label>


<label for="subjectDescription" class="input-group row subject-input-row">
    <p class="col-lg-3 col-md-3 col-sm-4 col-xs-4">Subject description: </p>
    <textarea class="col-lg-9 col-md-9 col-sm-8 col-xs-8 input-block-level" name="subjectDescription" aria-label="Subject Description" placeholder="Description of the subject, e.g. Upper-level course for all majors"></textarea>
</label>
