<tr data-raw-object="<%= rawObject %>" class="available-item-row default">
    <td class="serial-number-col available-item-col">
        <span class="display-name"><%= displayName %></span>
    </td>
    <td class="keywords-col available-item-col">
        <span><%= description %></span>
    </td>
    <td class="type-col available-item-col">
        <span><%= questionType %></span>
    </td>
    <td class="difficulty-col available-item-col">
        <span><%= questionDifficulty %></span>
    </td>
    <td class="term-col available-item-col">
        <span><%= terms %></span>
    </td>
    <td class="pset-col available-item-col">
        <span><%= pset %></span>
    </td>
    <td class="preview-col text-center available-item-col pointer">
        <span>
            <i class="fa fa-file-text-o fa-2x" title="Preview" aria-hidden="true"></i>
            <span class="sr-only">Preview of the question</span>
        </span>
    </td>
    <td class="solution-preview-col text-center available-item-col pointer">
        <span>
            <i class="fa fa-file-text-o fa-2x" title="Solution Preview" aria-hidden="true"></i>
            <span class="sr-only">Preview of the solution</span>
        </span>
    </td>
    <!--<td class="metadata-col text-center available-item-col pointer">
        <span>
            <p class="sr-only">Metadata</p>
            <i class="fa fa-database fa-2x" aria-hidden="true"></i>
        </span>
    </td>-->
    <td class="select-col text-center available-item-col">
        <span>
            <input type="checkbox" class="add-item-checkbox"/>
        </span>
    </td>
</tr>