<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 assignment-names-selector">
            <h4>Assignments</h4>
            <ul class="assignment-names list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        <span class="sr-only">Search assignments</span>
                        <input type="text" class="form-control" name="keyword-search" placeholder="Search"/>
                        <i class="fa fa-search keyword-search-icon" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 assignment-details-wrapper hidden">
            <div class="assignment-items hidden">
                <h4>Items</h4>
                <div class="items-section-content">
                    <table class="table-striped table-bordered table-condensed table-hover">
                        <thead>

                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <section class="assignment-actions hidden text-center">

                </section>
            </div>
        </div>
    </div>
</div>