<span class="thumbnail item-file-preview pointer col-lg-4 col-md-4 col-sm-5 col-xs-5">
    <a href="<%= itemUrl %>" target="_blank">
        <span class="text-center file-label"><%= fileLabel %></span>
        <img src="/static/img/pdf.png" alt="PDF document"/>
    </a>
    <button class="remove-image-file btn btn-danger" title="Delete this image file from the problem">
        <i aria-hidden="true" class="fa fa-trash-o"></i>
        <p class="sr-only">Delete this image from the problem</p>
    </button>
</span>