<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 serial-number-selector">
            <h4>Serial Numbers</h4>
            <ul class="item-serial-numbers list-group">

            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 item-details-wrapper">
            <div class="item-details">
                <h4>Item Details</h4>
                <section class="files-section hidden">
                    <h5>Item Files</h5>
                    <span class="files-section-content">

                    </span>
                </section>
                <section class="metadata-section hidden">
                    <h5>Item Metadata</h5>
                    <ul class="list-group metadata-section-content">

                    </ul>
                </section>
                <section class="item-actions hidden">
                    <label class="delete-pending-item pull-left">
                        <span class="sr-only">Remove this item from the pending queue.</span>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </label>
                    <label class="publish-pending-item pull-right">
                        <span class="sr-only">Publish this item so it is available for assessments.</span>
                        <button type="button" class="btn btn-success">Publish</button>
                    </label>
                </section>
            </div>
        </div>
    </div>
</div>