<div class="user-management-wrapper">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-11 col-xs-11 faculty-owners-list">
            <div>
                <h5>Existing Faculty Owners</h5>
                <ul class="faculty-owners-list list-group">

                </ul>
            </div>
            <div>
                <h5>Add new owner(s)</h5>
                <label class="input-group add-owner-wrapper">
                    <input type="text" class="input-block-level faculty-search" placeholder="Search for faculty names" name="addFacultyInput"/>
                </label>
                <button class="btn btn-success add-faculty-btn">
                    <i class="fa fa-plus-circle" aria-hidden="true"> </i>
                    Add as owner
                </button>
            </div>

        </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-11 col-xs-11 tas-list">
            <h5 class="add-ta-header">TAs for </h5>
            <select name="taTermSelector" class="ta-term-selector"></select>
            <ul class="ta-term-list list-group">

            </ul>
        </div>
    </div>
</div>