<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 bordered-with-background asset-filename-selector">
            <h4>File names</h4>
            <ul class="asset-filenames list-group">

            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6 bordered-with-background asset-details-wrapper">
            <div class="asset-details">
                <h4>File Preview</h4>
                <section class="asset-preview hidden">
                    <iframe class="asset-preview-iframe"></iframe>
                </section>
                <section class="asset-actions hidden">
                    <label class="delete-asset pull-left">
                        <span class="sr-only">Remove this asset from the subject.</span>
                        <button type="button" class="btn btn-danger">
                            <i class="fa fa-trash-o" aria-hidden="true"> </i>
                            Delete
                        </button>
                    </label>
                    <label class="download-asset pull-right">
                        <span class="sr-only">Download this asset.</span>
                        <button type="button" class="btn btn-success">
                            <i class="fa fa-cloud-download" aria-hidden="true"> </i>
                            Download
                        </button>
                    </label>
                </section>
            </div>
        </div>
    </div>
</div>