<tr class="danger">
    <td class="serial-number-col">
        <span>None Found</span>
    </td>
    <td class="keywords-col">
        <span>N/A</span>
    </td>
    <td class="type-col">
        <span>N/A</span>
    </td>
    <td class="difficulty-col">
        <span>N/A</span>
    </td>
    <td class="term-col">
        <span>N/A</span>
    </td>
    <td class="pset-col">
        <span>N/A</span>
    </td>
    <td class="preview-col">
        <span>N/A</span>
    </td>
    <td class="solution-preview-col">
        <span>N/A</span>
    </td>
    <td class="metadata-col">
        <span>N/A</span>
    </td>
    <% if (!(locked || published)) { %>
        <td class="delete-col">
            <span>N/A</span>
        </td>
        <td class="upload-col">
            <span>N/A</span>
        </td>
    <% } %>
</tr>