<div class="btn-group btn-group-lg" role="navigation">
    <button class="btn btn-default btn-lg upload-items" aria-label="Upload Items">Upload Items</button>
    <button class="btn btn-default btn-lg published-items" aria-label="View / Edit Managed Items">Manage Items</button>
    <button class="btn btn-default btn-lg build-assignments" aria-label="Build Assignments">Build Assignments</button>
    <button class="btn btn-default btn-lg manage-assets" aria-label="Manage Assets">Manage Assets</button>
    <% if (faculty) { %>
        <button class="btn btn-default btn-lg manage-users" aria-label="Users">Users</button>
    <% } %>
    <span class="statusBox red"></span>
</div>