<div class="row upload-new-item-version-wrapper">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <button class="btn btn-default btn-lg minor-item-edit">
            <span class="sr-only">Upload a minor change to the problem --
                keeps the serial number and affects all usages of this item.</span>
            Minor Edit
            <i aria-hidden="true" title="Upload a minor change to the problem -- keeps the serial number and affects all usages of this item." class="fa fa-info-circle"></i>
        </button>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
        <button class="btn btn-primary btn-lg major-item-edit">
            <span class="sr-only">Upload a major change to the problem --
                creates a new serial number / item.</span>
            Major Edit
            <i aria-hidden="true" title="Upload a major change to the problem -- creates a new serial number / item." class="fa fa-info-circle"></i>
        </button>
    </div>
</div>