<div class="file-upload-wrapper text-center">
    <form id="uploadItemForm">
        <label for="fileSelector">
            <p class="sr">Upload files:</p>
            <span class="btn btn-warning btn-lg upload-files-button">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span> Upload Files</span>
                <input type="file" name="fileSelector[]" multiple/>
            </span>
        </label>
    </form>
    <div class="file-drop-area">
        or drag them into here.
    </div>
</div>
<div class="upload-actions text-center hidden">
    <div class="upload-progress">
        <div class="progress-bar"></div>
        <div class="progress-text"></div>
    </div>
    <div class="upload-all-wrapper pull-right">
        <button class="btn btn-primary upload-all-btn">
            Upload All Completed Items
        </button>
    </div>
</div>
<div class="item-grouping-wrapper">

</div>
