<div class="class-canvas">
    <div>
        <div id="course-selector-region">

        </div>
        <div id="run-selector-region">

        </div>
    </div>
    <div id="course-actions-region" class="action-menu hidden">
        <div class="btn-group action-btns" role="group" aria-label="Actions for a single class run">
            <a href="#" class="btn btn-lg btn-primary" target="_blank" id="download-run-btn">
                <i aria-hidden="true" class="fa fa-cloud-download"></i>
                Export
            </a>
            <button class="btn btn-lg btn-primary" data-toggle="button" id="add-new-components-btn">
                <i aria-hidden="true" class="fa fa-plus-circle"></i>
                Add From Library
            </button>
            <button class="btn btn-lg btn-warning" data-toggle="button" id="create-new-components-btn">
                <i aria-hidden="true" class="fa fa-wrench"></i>
                Create Component
            </button>
            <button class="btn btn-lg btn-warning" data-toggle="button" id="edit-run-info-btn">
                <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                Edit Info
            </button>
            <button class="btn btn-lg btn-warning" data-toggle="button" id="publish-run-btn">
                <i aria-hidden="true" class="fa fa-book"></i>
                Publish to Library
            </button>
        </div>
    </div>
    <div id="composition-region">

    </div>
</div>
