[submodule "dlkit"]
	path = dlkit
	url = https://sei-jenkins@bitbucket.org/cjshaw/dlkit.git 
[submodule "dlkit_django"]
	path = dlkit_configs
	url = https://sei-jenkins@bitbucket.org/cjshaw/dlkit_django.git
[submodule "dysonx"]
	path = dysonx
	url = https://sei-jenkins@bitbucket.org/cjshaw/dysonx.git 
[submodule "records"]
	path = records
	url = https://sei-jenkins@bitbucket.org/cjshaw/records.git
