Django==1.6.11
EbookLib==0.15
Jinja2==2.8
MarkupSafe==0.23
MiniMockTest==0.5
MySQL-python==1.2.5
PyTrie==0.2
PyYAML==3.11
Pygments==2.0.2
South==1.0.2
amqp==1.4.6
anyjson==0.3.3
autobahn==0.10.5.post2
beautifulsoup4==4.4.0
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
cffi==1.1.2
characteristic==14.3.0
cryptography==0.9.3
django-appconf==1.0.1
django-compressor==1.5
django-cors-headers==1.1.0
djangorestframework==2.4.0
dlkit==0.5.6
docopt==0.6.2
elasticsearch==1.6.0
enum34==1.0.4
envoy==0.0.3
epub==0.5.2
futures==3.0.3
html5lib==0.999999
idna==2.0
inflection==0.3.1
ipaddress==1.0.14
kombu==3.0.26
lxml==3.5.0
mistune==0.7
mongo-connector==2.1
ndg-httpsclient==0.4.0
netaddr==0.7.15
nodeenv==0.13.3
numpy==1.9.2
path.py==7.5
pika==0.9.14
pyOpenSSL==0.15.1
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pymongo==2.8.1
pysolr==3.3.2
pytz==2015.4
redis==2.10.3
requests==2.7.0
rsa==3.2
service-identity==14.0.0
shutilwhich==1.1.0
six==1.9.0
treq==22.1.0
txaio==1.0.2
urllib3==1.11
wsgiref==0.1.2
-e git+https://github.com/mitsei/xbundle@e7cb769db9126e548b623a829f9a7040464982d0#egg=xbundle-master
zope.interface==4.1.2
