<div class="<%- compositionType %> composition-object-wrapper object-wrapper can-edit-state-<%- canEdit %>" data-obj="<%- rawObject %>">
    <div class="composition-row">
        <% if (canEditParent) { %>
            <div class="drag-handles"></div>
        <% } %>
        <div class="vertical-box">
            <div class="vertical-content">
                <span class="content-type badge badge-<%-compositionType %>">
                    <%- compositionType %>
                </span>
                <span class="display-name">
                    <%- composition.displayName.text %>
                </span>
                <span class="description">
                    <%- composition.description.text %>
                </span>
            </div>
            <div class="vertical-footer">
                <div class="composition-actions">
                    <span class="preview-composition preview clickable">
                        <i aria-hidden="true" class="fa fa-eye"></i>
                        Preview
                    </span>
                    <a class="export-composition export clickable" target="_blank" href="<%- exportUrl %>">
                        <i aria-hidden="true" class="fa fa-arrow-right"></i>
                        Export
                    </a>
                    <span class="toggle-composition-children">
                        <i aria-hidden="true" class="children-icon fa fa-chevron-down"></i>
                        Click here to <span class="children-action-hide hidden">hide</span><span class="children-action-show">show</span> the children objects.
                    </span>
                </div>
            </div>
        </div>
        <div class="pull-right composition-options">
            <% if (canEditParent) { %>
                <% if (canEdit) { %>
                    <div class="form-group" title="Change the XML component tag">
                        <select class="form-control switch-genus-type">
                            <option>Switch type...</option>
                            <% if (compositionType === 'chapter') { %>
                                <option value="chapter" selected>Chapter</option>
                            <% } else { %>
                                <option value="chapter">Chapter</option>
                            <% } %>
                            <% if (compositionType === 'sequential') { %>
                                <option value="sequential" selected>Sequential</option>
                            <% } else { %>
                                <option value="sequential">Sequential</option>
                            <% } %>
                            <% if (compositionType === 'vertical') { %>
                                <option value="vertical" selected>Vertical</option>
                            <% } else { %>
                                <option value="vertical">Vertical</option>
                            <% } %>
                        </select>
                    </div>
                <% } else { %>
                    <div>
                        <button class="btn btn-success unlock-composition">
                            <i aria-hidden="true" class="fa fa-lock" title="Unlock Composition"></i>
                            <span class="sr-only">Unlock Component</span>
                        </button>
                    </div>
                <% } %>
                <div class="btn-group composition-dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="cut-component"><i aria-hidden="true" class="fa fa-scissors"></i> Cut Component</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="remove-composition"><i aria-hidden="true" class="fa fa-trash-o"></i> Remove Composition</a></li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</div>
<ul class="children-compositions hidden can-edit-state-<%- canEdit %>">
    <li class="resortable composition no-children alert alert-danger">No current children</li>
</ul>
