<div class="<%- compositionType %> composition-object-wrapper object-wrapper can-edit-state-<%- canEdit %>" data-obj="<%- rawObject %>">
    <div class="composition-row">
        <% if (canEditParent) { %>
            <div class="drag-handles"></div>
        <% } %>
        <div class="composition-icon composition-<%- compositionType %>" title="<%- compositionType %>">
            <div class="ic-custom"></div>
        </div>
        <div class="vertical-box">
            <div class="vertical-content">
                <span class="display-name">
                    <%- composition.displayName.text %>
                </span>
                <span class="description">
                    <%- composition.description.text %>
                </span>
            </div>
            <div class="vertical-footer">
                <div class="composition-actions">
                    <span class="preview-composition preview clickable">
                        <i aria-hidden="true" class="fa fa-eye"></i>
                        Preview
                    </span>
                    <span class="export-composition export clickable">
                        <i aria-hidden="true" class="fa fa-arrow-right"></i>
                        Export
                    </span>
                </div>
            </div>
        </div>
        <div class="pull-right composition-options">
            <% if (canEditParent) { %>
                <% if (canEdit) { %>
                    <div class="form-group" title="Change the XML component tag">
                        <select class="form-control switch-genus-type">
                            <option>Switch type...</option>
                            <% if (compositionType === 'chapter') { %>
                                <option value="chapter" selected>Chapter</option>
                            <% } else { %>
                                <option value="chapter">Chapter</option>
                            <% } %>
                            <% if (compositionType === 'sequential') { %>
                                <option value="sequential" selected>Sequential</option>
                            <% } else { %>
                                <option value="sequential">Sequential</option>
                            <% } %>
                            <% if (compositionType === 'vertical') { %>
                                <option value="vertical" selected>Vertical</option>
                            <% } else { %>
                                <option value="vertical">Vertical</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="">
                        <button class="btn btn-warning remove-composition">
                            <i aria-hidden="true" class="fa fa-trash-o"></i>
                            Remove Component
                        </button>
                    </div>
                <% } else { %>
                    <div>
                        <button class="btn btn-success unlock-composition">
                            <i aria-hidden="true" class="fa fa-unlock"></i>
                            Unlock Component
                        </button>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <div class="composition-footer expanded text-center">
        <span class="toggle-composition-children">
            <i aria-hidden="true" class="children-icon fa fa-chevron-down"></i>
            Click here to <span class="children-action-hide hidden">hide</span><span class="children-action-show">show</span> the children objects.
        </span>
    </div>
</div>
<ul class="children-compositions hidden can-edit-state-<%- canEdit %>">
    <li class="resortable composition no-children alert alert-danger">No current children</li>
</ul>
