<div>
    <div class="form-group">
        <label for="newCourseName">Course Name</label>
        <input id="newCourseName" class="form-control" type="text" placeholder="Course name, like 8.01x"/>
    </div>
    <div class="form-group">
        <label for="newCourseDescription">Course Description</label>
        <input id="newCourseDescription" class="form-control" type="text" placeholder="Course description"/>
    </div>
    <div class="form-group">
        <label for="newCourseOffering">Offering / Run</label>
        <input id="newCourseOffering" class="form-control" type="text" placeholder="Course run, like 2014_Fall" title="Course run, like 2014_Fall"/>
    </div>
    <div class="create-course-warning hidden alert alert-danger" role="alert">
        Please include both course name and offering.
    </div>
</div>