<div class="<%- resourceType %> resource-object-wrapper object-wrapper can-edit-state-<%- canEdit %>" data-obj="<%- rawObject %>">
    <div class="resource-row">
        <% if (canEditParent) { %>
            <div class="drag-handles"></div>
        <% } %>
        <div class="resource-icon resource-<%- resourceType %>" title="<%- resourceType %>">
            <div class="ic-custom"></div>
        </div>
        <div class="vertical-box">
            <div class="vertical-content">
                <span class="display-name">
                    <%- resource.displayName.text %>
                </span>
                <span class="description">
                    <%- resource.description.text %>
                </span>
            </div>
            <div class="vertical-footer">
                <div class="resource-actions">
                    <span class="preview-resource preview clickable">
                        <i aria-hidden="true" class="fa fa-eye"></i>
                        Preview
                    </span>
                    <span class="export-resource export clickable">
                        <i aria-hidden="true" class="fa fa-arrow-right"></i>
                        Export
                    </span>
                </div>
            </div>
        </div>
        <div class="pull-right resource-options">
            <% if (canEditParent) { %>
                <% if (canEdit) { %>
                    <div class="">
                        <button class="btn btn-warning remove-resource">
                            <i aria-hidden="true" class="fa fa-trash-o"></i>
                            Remove Resource
                        </button>
                    </div>
                <% } else { %>
                    <div class="">
                        <button class="btn btn-success unlock-resource">
                            <i aria-hidden="true" class="fa fa-unlock"></i>
                            Unlock Resource
                        </button>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
