<div class="<%- resourceType %> resource-object-wrapper object-wrapper can-edit-state-<%- canEdit %>" data-obj="<%- rawObject %>">
    <div class="resource-row">
        <% if (canEditParent) { %>
            <div class="drag-handles"></div>
        <% } %>
        <div class="vertical-box">
            <div class="vertical-content">
                <span class="content-type badge badge-<%-resourceType %>">
                    <%- resourceType %>
                </span>
                <span class="display-name">
                    <%- resource.displayName.text %>
                </span>
                <span class="description">
                    <%- resource.description.text %>
                </span>
            </div>
            <div class="vertical-footer">
                <div class="resource-actions">
                    <span class="preview-resource preview clickable">
                        <i aria-hidden="true" class="fa fa-eye"></i>
                        Preview
                    </span>
                    <a class="export-resource export clickable" target="_blank" href="<%- exportUrl %>">
                        <i aria-hidden="true" class="fa fa-arrow-right"></i>
                        Export
                    </a>
                </div>
            </div>
        </div>
        <div class="pull-right resource-options">
<!--            <% if (canEditParent) { %>
                <% if (!canEdit) { %>
                    <div class="">
                        <button class="btn btn-success unlock-resource">
                            <i aria-hidden="true" class="fa fa-lock"></i>
                            Unlock Resource
                        </button>
                    </div>
                <% } %> -->
                <div class="btn-group composition-dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="cut-component"><i aria-hidden="true" class="fa fa-scissors"></i> Cut Component</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="remove-resource"><i aria-hidden="true" class="fa fa-trash-o"></i> Remove Resource</a></li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</div>
