<!DOCTYPE html>
<html lang='en' xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Producer v2">
        <meta name="author" content="MIT ODL">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        {% load i18n %}
        {% load static compress %}

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/jqueryui/themes/smoothness/jquery-ui.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/producer.css">
        {% endcompress %}

        <script data-main="{{ STATIC_URL }}js/main" src="{{ STATIC_URL }}js/vendor/requirejs/require.js"></script>
        {% compress css %}
        {% block header_script %} {% endblock %}
        {% endcompress %}

        {% compress js %}
        {% block header_js_script %} {% endblock %}
        {% endcompress %}
    </head>
    <body class="container-fluid">
        {% csrf_token %}
        <div id="app-container">
            <div id="navbar-region">
                {% block navbar_content %}
                {% endblock %}
            </div>
            <div id="main-region">
                {% block main_content %}
                {% endblock %}
            </div>
            <div id="footer-region">
                <footer class="footer">
                    <div class="text-center">
                        <p>(c) 2015 Massachusetts Institute of Technology</p>
                    </div>
                    <div class="text-center">
                        <p>Application development and website support provided by the <a href="http://odl.mit.edu">MIT Office of Digital Learning (ODL)</a>.</p>
                    </div>
                </footer>
            </div>
            <div id="dialog-region">

            </div>
        </div>
    </body>
</html>