{% extends 'ui/base.html' %}

{% block title %}Producer: Dashboard{% endblock %}

{% block header_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/vendor/bootstrap-drawer/dist/css/bootstrap-drawer.min.css">
{% endblock %}

{% block header_js_script %}
{% endblock %}


{% block navbar_content %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard/">Producer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav repository-navbar btn-group" role="group" aria-label="repository tools">
              {% if 'admin' in privileges %}
                <li class=""><button class="btn btn-lg add-new-domain repository-btn"><i aria-hidden="true" class="fa fa-plus-circle"></i> Create New Domain</button></li>
                <li class=""><button class="btn btn-lg import-course repository-btn"><i aria-hidden="true" class="fa fa-cloud-upload"></i> Import Course</button></li>
              {%  endif %}
              {% if 'curate' in privileges %}
                <li class=""><button class="btn btn-lg curate-objects repository-btn"><i aria-hidden="true" class="fa fa-cogs"></i> Curate Objects</button></li>
              {% endif %}
              {% if 'author' in privileges %}
                <li class=""><button class="btn btn-lg download-from-library repository-btn"><i aria-hidden="true" class="fa fa-cloud-download"></i> Download From Library</button></li>
              {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden processing-spinner">
                <i aria-hidden="true" class="fa fa-spin fa-refresh">

                </i>
                <span class="sr-only">Processing...</span>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i aria-hidden="true" class="fa fa-cogs"></i>
                  <span class="active-user" data-repo-id="{{ user_repo_id }}"> {{ user.username }}</span>
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="content-wrapper">
            <div class="class-canvas">
                <div>
                    <div id="course-selector-region">

                    </div>
                    <div id="run-selector-region">

                    </div>
                </div>
                <div id="course-actions-region" class="action-menu hidden">
                    <div class="btn-group action-btns" role="group" aria-label="Actions for a single class run">
                        <a href="#" class="btn btn-lg btn-primary" target="_blank" id="download-run-btn">
                            <i aria-hidden="true" class="fa fa-cloud-download"></i>
                            Download
                        </a>
                        <button class="btn btn-lg btn-primary" data-toggle="button" id="add-new-components-btn">
                            <i aria-hidden="true" class="fa fa-plus-circle"></i>
                            Add From Library
                        </button>
                        <button class="btn btn-lg btn-warning" data-toggle="button" id="create-new-components-btn">
                            <i aria-hidden="true" class="fa fa-wrench"></i>
                            Create Component
                        </button>
                        <button class="btn btn-lg btn-warning" data-toggle="button" id="edit-run-info-btn">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            Edit Info
                        </button>
                        <button class="btn btn-lg btn-warning" data-toggle="button" id="publish-run-btn">
                            <i aria-hidden="true" class="fa fa-book"></i>
                            Publish to Library
                        </button>
                    </div>
                </div>
                <div id="composition-region">

                </div>
            </div>
            <div class="preview-canvas">
                <div id="notifications-region" class="pull-right">
                </div>
                <div id="preview-region">
                </div>
            </div>
        </div>
    </div>
    <div id="search-components-menu" class="drawer drawer-right dw-xs-10 dw-sm-10 dw-md-8 dw-lg-8 fold">
        <div class="container container-search drawer-contents">
          <div id="faceted-search-header" class="drawer-header">
              <div class="input-group faceted-search-header">
                  <input name="keyword-search" type="search"
                   class="form-control input-lg input-search"
                   placeholder="Search for terms in learning resource titles, descriptions or content..."/>
                <span class="facet-header-small-obj input-group-btn">
                  <button type="submit" aria-label="Submit" class="btn btn-default btn-lg execute-keyword-search">
                    <i aria-hidden="true" class="fa fa-search"></i>
                  </button>
                </span>
                <div class="domain-selector-wrapper">
                    <select class="form-control domain-selector">

                    </select>
                </div>
                <div class="facet-header-small-obj processing-spinner hidden" aria-label="Processing wait sign">
                    <div class="pull-right">
                        <i aria-hidden="true" class="fa fa-spin fa-refresh fa-2x"></i>
                        <span class="sr-only">Processing...</span>
                    </div>
                </div>
                <div class="facet-header-small-obj">
                    <button aria-label="Close" class="pull-right btn btn-primary btn-lg close-drawer">
                        <i aria-hidden="true" class="fa fa-times-circle"></i>
                        <span class="sr-only">Close Add Component Drawer</span>
                    </button>
                </div>
              </div>
          </div>
          <div class="drawer-body">
            <div class="faceted-search-container">
                <div id="faceted-search-facets" class="facets">

                </div>
                <div id="faceted-search-results-wrapper">
                    <div id="faceted-search-results">

                    </div>
                    <div id="faceted-search-pagination">

                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel-group facet-region">
          </div>
        </div>
        <div class="col-md-9 search-results-region">
        </div>
    </div>
{% endblock %}