<div class="panel panel-default">
    <div class="panel-body">
        <h4>Are you sure you want to remove this object from the class?</h4>
        <p class="red">
            NOTE: Assets (HTML, problems, videos, etc.) will still be available
            in your personal library, but any parent container will be removed from the
            class. There is no "undo" button -- you will have to add things
            back in manually if you change your mind later. This will also remove
            the object from any other classes that added it without cloning / unlocking.
        </p>
    </div>
</div>