#course-selector-region {
    width: 60%;
    display: inline-block;
}

#run-selector-region {
    width: 35%;
    display: inline-block;
}

div.action-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

.composition,
.resource {
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.vertical-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 50px;
}

.vertical-content {
    flex: 0 1 100%;
}

.vertical-footer {
    flex: 0 1 20px;
}

.vertical-footer span.clickable:hover {
    cursor: pointer;
    font-weight: bold;
}

.composition-icon,
.resource-icon {
    border-radius:50%;
    border:1px solid #eee;
    width:53px;
    height:53px;
    margin:0 8px 0 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.composition-icon img,
.resource-icon img {
    position: relative;
    top: 12px;
}

div.ic-custom {
    height: 100%;
    width: 100%;
}

.composition-chapter {
    border-color:#B01574; /* purple */
}

.composition-chapter div {
    background-image: url("/static/images/ic-book.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.composition-sequential {
    border-color:#417505; /* green */
}

.composition-sequential div {
    background-image: url("/static/images/ic-sequential.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.composition-vertical {
    border-color:#C24242; /* red */
}

.composition-vertical div {
    background-image: url("/static/images/ic-vertical.png");
    background-repeat: no-repeat;
    margin-left: 35%;
    margin-top: 25%;
}

.sequential {
    margin-left: 3%;
}

.vertical {
    margin-left: 6%;
}

.composition span.display-name,
.resource span.display-name {
    padding-left: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

div.composition-actions span {
    color: blue;
}

.composition-actions {
    margin-left: 5px;
}

.composition-actions span {
    margin-left: 5px;
    margin-right: 5px;
}

ul.repository-navbar button.repository-btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-top: 2px;
}

/*File upload styling borrowed from jQuery-file-upload:*/
/*https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css*/
.upload-file-button {
  position: relative;
  overflow: hidden;
    margin-right: 25px;
}

.upload-file-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

#uploadItemForm {
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 15px;
}

.dismiss-notification {
    position: absolute;
    top: 3px;
    right: 20px;
}

.faceted-search-header {
    border-bottom: darkgray;
    border-bottom-style: dashed;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: -15px;
}

#faceted-search-results {
    border-left: darkgray;
    border-left-style: dashed;
    padding-left: 10px;
}

#faceted-search-facets {
    margin-right: 10px;
}

.faceted-search-container {
    display: flex;
    display: -webkit-flex;
}

.faceted-search-container > #faceted-search-facets {
    flex: 1 1 30%;
}

.faceted-search-container > #faceted-search-results-wrapper {
    flex: 1 1 70%;
}

.processing-spinner {
    margin-right: 15px;
    margin-top: 8px;
    padding-right: 5%;
    margin-left: -65px;
}

.panel-heading .accordion-toggle:before,
.show-preview:before {
    font-family: 'FontAwesome';
    content: "\f078";
    color: #F5A623;
    font-size: 12px;
    margin:-3px 0 0 0;
    line-height: 1em;
    width:16px;
    display: inline-block;
    text-align: center;
}

.panel-heading .accordion-toggle.collapsed:before,
.show-preview.collapsed:before {
    content: "\f054";
}

#facet-accordion label {
    width: 100%;
}


.resource-problem {
    border-color:#1589B0; /* blue */
}

.resource-problem div.ic-custom {
    background-image: url("/static/images/ic-pieces.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-html {
    border-color:#F5A623; /* yellow */
}

.resource-html div.ic-custom {
    background-image: url("/static/images/ic-code.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-video,
.resource-videoalpha {
    border-color:#5C7694; /* navy blue */
}

.resource-video div.ic-custom,
.resource-videoalpha div.ic-custom {
    background-image: url("/static/images/ic-video.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-icon {
    flex: 0 0 50px;
}

.resource .vertical-box {
    flex: 0 1 180px;
}

.resource-preview {
    flex: 0 1 auto;
}

.show-preview {
    cursor: pointer;
}

.show-preview:hover {
    text-decoration: underline;
    font-weight: bold;
}

.drawer-contents.container-search {
    background-color: lightyellow;
}

.facet-results-list {
    margin-top: -5px;
}

.items-per-page-wrapper {
    margin-top: 10px;
}

#items-per-page {
    width: 25%;
    min-width: 50px;
    display: inline-block;
}

#items-label {
    display: inline-block;
    width: 65% !important;
}

#faceted-search-results-wrapper {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
}

#faceted-search-results {
    flex: 1 1 100%;
}

#faceted-search-pagination {
    flex: 1 1 50px;
}

.paginator {
    margin-left: 30%;
}

.resource-run {
    font-size: 0.7em;
    color: gray;
}

#notifications-region {
    z-index: 999;
}