.red {
    color: red;
}

#course-selector-region {
    width: 60%;
    display: inline-block;
}

#run-selector-region {
    width: 35%;
    display: inline-block;
}

div.action-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

.composition,
.resource {
    margin-top: 5px;
    margin-bottom: 5px;
    display: -webkit-flex;
    position: static !important;  /* override bootstrap list-group-item */
}

.drawer .resource {
    display: flex !important;  /* override drawer . li */
}

.resource {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.resource .object-wrapper {
    display: flex;
    display: -webkit-flex;
    flex: 1 1 100%;
}

.composition {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.composition .vertical-box {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*height: 50px;*/
    flex: 1 1 100%;
}

.vertical-content {
    flex: 1 1 100%;
}

.vertical-footer {
    flex: 0 1 20px;
}

.vertical-footer span.clickable:hover {
    cursor: pointer;
    font-weight: bold;
}

.composition-icon,
.resource-icon {
    border-radius:50%;
    border:1px solid #eee;
    flex: 0 0 53px;
    height:53px;
    margin:0 8px 0 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.composition-icon img,
.resource-icon img {
    position: relative;
    top: 12px;
}

div.ic-custom {
    height: 100%;
    width: 100%;
}

.composition-object-wrapper,
.resource-object-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
}

.composition-row,
.resource-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.composition-footer.expanded {
    border-bottom: dashed lightgray;
    padding-bottom: 5px;
}

.composition-footer {
    border-top: dashed lightgray;
    padding-top: 5px;
    margin-top: 10px;
    color: darkviolet;
}

.composition-footer:hover {
    font-weight: bold;
}

.toggle-composition-children {
    cursor: pointer;
}

.composition-chapter {
    border-color:#B01574; /* purple */
}

.composition-chapter div {
    background-image: url("/static/images/ic-book.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.composition-sequential {
    border-color:#417505; /* green */
}

.composition-sequential div {
    background-image: url("/static/images/ic-sequential.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.composition-vertical {
    border-color:#C24242; /* red */
}

.composition-vertical div {
    background-image: url("/static/images/ic-vertical.png");
    background-repeat: no-repeat;
    margin-left: 35%;
    margin-top: 25%;
}

.composition span.display-name,
.resource span.display-name {
    padding-left: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

div.composition-actions span,
div.resource-actions span {
    color: blue;
}

.composition-actions,
.resource-actions {
    margin-left: 5px;
}

.composition-actions span,
.resource-actions span {
    margin-left: 5px;
    margin-right: 5px;
}

ul.repository-navbar button.repository-btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    margin-top: 2px;
}

/*File upload styling borrowed from jQuery-file-upload:*/
/*https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css*/
.upload-file-button {
  position: relative;
  overflow: hidden;
    margin-right: 25px;
}

.upload-file-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

#uploadItemForm {
    margin-top: 20%;
    margin-left: 5%;
    margin-bottom: 15px;
}

.dismiss-notification {
    position: absolute;
    top: 3px;
    right: 5px;
}

.faceted-search-header {
    border-bottom: darkgray;
    border-bottom-style: dashed;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: -15px;
}

#faceted-search-results {
    border-left: darkgray;
    border-left-style: dashed;
    padding-left: 10px;
}

#faceted-search-facets {
    margin-right: 10px;
}

.faceted-search-container {
    display: flex;
    display: -webkit-flex;
}

.faceted-search-container > #faceted-search-facets {
    flex: 1 1 30%;
}

.faceted-search-container > #faceted-search-results-wrapper {
    flex: 1 1 70%;
}

.faceted-search-header > .processing-spinner {
    margin-right: 15px;
    margin-top: 8px;
    padding-right: 5%;
    margin-left: -65px;
}

.nav > .processing-spinner {
    margin-right: 15px;
    margin-top: 15px;
}

.panel-heading .accordion-toggle:before,
.show-preview:before {
    font-family: 'FontAwesome';
    content: "\f078";
    color: #F5A623;
    font-size: 12px;
    margin:-3px 0 0 0;
    line-height: 1em;
    width:16px;
    display: inline-block;
    text-align: center;
}

.panel-heading .accordion-toggle.collapsed:before,
.show-preview.collapsed:before {
    content: "\f054";
}

#facet-accordion label {
    width: 100%;
}

.resource-problem {
    border-color:#1589B0; /* blue */
}

.resource-problem div.ic-custom {
    background-image: url("/static/images/ic-pieces.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-html {
    border-color:#F5A623; /* yellow */
}

.resource-html div.ic-custom {
    background-image: url("/static/images/ic-code.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-video,
.resource-videoalpha {
    border-color:#5C7694; /* navy blue */
}

.resource-video div.ic-custom,
.resource-videoalpha div.ic-custom {
    background-image: url("/static/images/ic-video.png");
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: 25%;
}

.resource-icon {
    flex: 0 0 50px;
}

.resource .vertical-box {
    flex: 0 1 100%;
}

li.resource.resortable div.resource-row .vertical-box {
    /*flex: 0 1 100%;*/
    flex: 2;
}

.resource-preview {
    flex: 0 1 300px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.show-preview {
    cursor: pointer;
}

.show-preview:hover {
    text-decoration: underline;
    font-weight: bold;
}

.drawer-contents.container-search {
    background-color: lightyellow;
}

.facet-results-list {
    margin-top: -5px;
}

.items-per-page-wrapper {
    margin-top: 10px;
}

#items-per-page {
    width: 25%;
    min-width: 50px;
    display: inline-block;
}

#items-label {
    display: inline-block;
    width: 65% !important;
}

#faceted-search-results-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    display: -webkit-flex;
}

#faceted-search-results {
    flex: 1 1 100%;
}

#faceted-search-pagination {
    flex: 1 1 50px;
}

.paginator {
    margin-left: 30%;
}

.resource-run {
    font-size: 0.7em;
    color: gray;
}

#notifications-region {
    opacity: 1 !important;
}

#notifications-region .alert {
    z-index: 1500;
    position: relative;
}

.drag-handles {
    background-image: url('/static/images/drag-handles.png');
    background-repeat: repeat-y;
    width: 12px;
    margin-left: -8px;
    margin-right: 10px;
    cursor: pointer;
    flex: 0 0 12px;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}

.sortable-placeholder {
    /*height: 50px;*/
    /*border: dashed lightgrey;*/
    /*border-radius: 5px;*/
    position: relative;
    top: 0 !important;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sortable-placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
}

li.composition.no-children {
    height: 50px;

}

#preview-region {
    position: fixed;
    width: 50%;
    padding-right: 2%;
    top: 115px;
}

#preview-region iframe {
    width: 100%;
    max-height: 40em;
    resize: vertical;
}

.content-wrapper {
    display: flex;
    display: -webkit-flex;
}

.class-canvas {
    flex: 1 1 50%;
    padding-right: 10px;
    border-right: dashed lightcoral;
}

.preview-canvas {
    flex: 1 1 50%;
    margin-left: 10px;
}

.composition-preview-wrapper {
    display: flex;
    display: -webkit-flex;
}

.sidebar {
    flex: 1 1 200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-right: 10px;
}

.sidebar-header {
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.sidebar-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 100px;
    flex: 1 1 100%;
}

.vertical-content-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1 1 100%;
}

.vertical-list {
    display: table;
    flex: 1 1 75px;
}

.vertical-list-wrapper {
    display: flex;
    padding-left: 0px;
}

.vertical-list .vertical-btn {
    flex: 1 1 auto;
    /*white-space: pre-line;*/
    /*height: 100%;*/
    max-width: 25%;
    cursor: pointer;
}

.vertical-list button {
    white-space: pre-line;
}

.content-list {
    flex: 1 1 100%;
    overflow: scroll;
    height: 100vh;
}

.no-preview-content {
    margin-top: 50px;
}

.sidebar-btn {
    overflow: hidden;
    cursor: pointer;
}

.sidebar-btn.active button,
.vertical-btn.active button {
    color: white;
}

/*From:*/
/*https://gist.github.com/danielflippance/d6401c926b4fb2442e15*/

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}