
.mecqbank-navbar {
    background-color: #f8f8f8;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #e7e7e7;
    height: 52px;
    padding-top: 5px;
    padding-bottom: 10px;
}


#dashboard_content_navbar .btn-group {
    margin-top: -6px;
    margin-left: -15px;
}

#dashboard_content_navbar button {
    height: 52px;
}

.statusBox {
    padding-left: 5px;
}