.my-classes {
    background-color: #f8f8f8;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding-top: 5px;
    padding-bottom: 10px;
}

.my-classes .add-subject,
.my-classes .edit-subject,
.other-classes .view-subject-owners {
    cursor: pointer;
}

.sidebar-header {
    padding-left: 10px;
    font-weight: bold;
}

.subject-input-row,
.item-edit-input-row {
    width: 100%;
}

.my-classes,
.other-classes {
    max-height: 400px;
    overflow: auto;
}

#dashboard_main_content img {
    max-width: 75%;
}

.processing-msg {
    margin-top: 7px;
    padding-top: 7px;
    margin-left: 5px;
}