<div id="curate-facets-menu" class="">
    <div class="container container-search">
      <div id="curate-faceted-search-header">
          <div class="input-group faceted-search-header">
              <input name="curate-keyword-search" type="search"
               class="form-control input-lg input-search"
               placeholder="Search for terms in learning resource titles, descriptions or content..."/>
            <span class="facet-header-small-obj input-group-btn">
              <button type="submit" aria-label="Submit" class="btn btn-default btn-lg curate-execute-keyword-search">
                <i aria-hidden="true" class="fa fa-search"></i>
              </button>
            </span>
            <div class="curate-domain-selector-wrapper">
                <select class="form-control curate-domain-selector">

                </select>
            </div>
            <div class="curate-facet-header-small-obj processing-spinner hidden" aria-label="Processing wait sign">
                <div class="pull-right">
                    <i aria-hidden="true" class="fa fa-spin fa-refresh fa-2x"></i>
                    <span class="sr-only">Processing...</span>
                </div>
            </div>
          </div>
      </div>
      <div class="">
        <div class="faceted-search-container">
            <div id="curate-faceted-search-facets" class="facets">

            </div>
            <div id="curate-faceted-search-results-wrapper">
                <div id="curate-faceted-search-results">

                </div>
                <div id="curate-faceted-search-pagination">

                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-group facet-region">
      </div>
    </div>
    <div class="col-md-9 search-results-region">
    </div>
</div>