<div class="text-center">
    <h4 class="">Learning Objectives</h4>
</div>
<ul class="list-group lo-list">
    <% if (los.length > 0) { %>
        <li class="list-group-item none-found hidden">
            <div class="alert alert-danger">
                None currently linked...
            </div>
        </li>
        <% _.each(los, function (lo) { %>
            <% var loMap = JSON.stringify(lo); %>
            <li class="list-group-item learning-objective" data-obj="<%- loMap %>">
                <div class="lo-wrapper">
                    <div class="lo-text-wrapper">
                        <div class="lo-display-name">
                            <%- lo.displayName.text %>
                        </div>
                        <div class="lo-description">
                            <%- lo.description.text %>
                        </div>
                    </div>
                    <div class="lo-actions">
                        <div>
                            <button class="btn btn-danger unlink-objective" title="Unlink objective">
                                <i aria-hidden="true" class="fa fa-unlink"></i>
                                <span class="sr-only">Unlink objective</span>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        <% }); %>
    <% } else { %>
        <li class="list-group-item none-found">
            <div class="alert alert-danger">
                None currently linked...
            </div>
        </li>
    <% } %>
    <li class="list-group-item link-objective-wrapper">
        <button class="btn btn-success link-objective" title="Link objective">
            <i aria-hidden="true" class="fa fa-link"></i>
            <span>Link objective</span>
        </button>
    </li>
</ul>